*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  color: #1d1d4e;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  position: relative;
  z-index: 2;
  flex-wrap: wrap;
}

.logo {
  font-size: 50px;
  font-weight: bold;
}

.logo span {
  color: #F1A501;
}

.logo img {
  width: 114px;
  height: 33px;
  opacity: 1;
  top: 48.7px;
  left: 140.92px;

}

nav {
  display: flex;
  align-items: center;
  gap: 75px;
  flex-wrap: wrap;
  margin-top: 10px;
}

nav a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  color: #212832;
  font-weight: 500;
}

.signup-btn {
  width: 102px;
  height: 40px;
  font-weight: 500;
  font-size: 17px;
  border: 1px solid #212832;
  background: transparent;
  border-radius: 8px;
  cursor: pointer;
}

.signup-btn:hover {
  border: 1px solid #212832;
  background-color: #212832;
  color: #fff;
}

.lang-select {
  border: none;
  background: transparent;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap-reverse;
  left: 148px;

}

.hero::before {
  content: "";
  background: url('/public/assets/Decore\ \(1\).png') no-repeat top right;
  background-size: contain;
  position: absolute;
  top: -148px;
  right: 150px;
  width: 992px;
  height: 807px;
  z-index: 0;

}

.hero-text {
  max-width: 630px;
  position: relative;
  z-index: 2;
  flex: 1 1 500px;
  margin-top: 30px;
}

.hero-text p.label {
  color: #DF6951;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.hero-text h1 {
  font-family: 'Volkhov', serif;
  font-size: 84px;
  line-height: 1.2;
  margin-bottom: 25px;
  position: relative;
  color: #181E4B;
}

.hero-text h1 span {
  position: relative;
  display: inline-block;
  z-index: 1;
  /* chữ nằm trên */
}

.hero-text h1 span img {
  position: absolute;
  bottom: 12px;
  left: -33px;
  width: 385px;
  height: 12px;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
  /* ảnh nằm sau */
}

.hero-text p.desc {
  font-size: 16px;
  color: #5E6282;
  margin-bottom: 30px;
  line-height: 30px;
  width: 477px;
  height: 90px;
  font-weight: 400;
}

.cta-buttons {
  display: flex;
  align-items: center;
  gap: 44px;
  flex-wrap: wrap;
}

.btn-primary {
  background-color: #F1A501;
  color: #fff;
  padding: 18px 26px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid #F1A501;
  cursor: pointer;
  box-shadow: 0 20px 35px rgba(241, 165, 1, 0.15);
}

.btn-primary:hover {
  background-color: #FFFFFF;
  color: #F1A501;
  border: 1px solid #F1A501;
}

.btn-demo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.btn-demo .circle {
  width: 52px;
  height: 52px;
  background: linear-gradient(135deg, #FF8660, #FF3D68);
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 20px 35px #DF69514D;
}

.btn-demo span {
  font-size: 17px;
  font-weight: 400;
  color: #686D77;
}

.hero-image {
  position: relative;
  z-index: 2;
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  padding-right: 5%;
}

.hero-image img {
  /* width: 100%;
      max-width: 500px; */
  width: 783px;
  height: 764px;
  opacity: 1;
  top: 105px;
  left: 565px;

}

.bg-effect {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 350px;
}

@media screen and (max-width: 1024px) {
  header {
    padding: 30px 40px;
  }

  .hero {
    padding: 40px 40px;
    flex-direction: column-reverse;
  }

  .hero-text {
    text-align: center;
  }

  .hero-text h1 {
    font-size: 42px;
  }

  .cta-buttons {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    gap: 10px;
  }

  nav {
    justify-content: center;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-image img {
    max-width: 320px;
  }
}